{% render 'partials/head.liquid', title: 'Home' %}

<a href="/Talentaward/student"> Student page</a>

{% for student in students %}
  <a href="/Talentaward/student/{{ student.title }}">
    <p>{{ student.title }}</p>
  </a>
{% endfor %}
{% render 'partials/foot.liquid' %}
