@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clash_Display:wght@400;600;700&display=swap");

:root {
  /* =========================
     BRAND BLUE
  ========================== */

  --color-brand-darkest: hsl(213, 100%, 8%);
  --color-brand-darker: hsl(213, 100%, 15%);
  --color-brand-dark: hsl(213, 100%, 18%);

  --color-brand-active: hsl(213, 100%, 28%);
  --color-brand-hover: hsl(213, 100%, 38%);
  --color-brand: hsl(213, 100%, 48%);

  --color-brand-soft: hsl(213, 23%, 58%);
  --color-brand-light: hsl(213, 100%, 68%);
  --color-brand-lighter: hsl(213, 100%, 78%);
  --color-brand-subtle: hsl(213, 100%, 88%);

  /* =========================
     ACCENT
  ========================== */

  --color-accent-strong: hsl(10, 79%, 45%);
  --color-accent: hsl(10, 79%, 55%);
  --color-accent-light: hsl(10, 90%, 65%);
  --color-accent-soft: hsl(10, 90%, 75%);
  --color-accent-subtle: hsl(10, 90%, 85%);

  /* =========================
     NEUTRALS
  ========================== */

  --color-bg-dark: hsl(213, 21%, 9%);
  --color-bg-darker: hsl(213, 22%, 12%);
  --color-surface-dark: hsl(213, 23%, 18%);

  --color-text: hsl(213, 21%, 9%);
  --color-text-muted: hsl(213, 20%, 33%);
  --color-text-subtle: hsl(213, 19%, 36%);

  --color-border: hsl(213, 8%, 84%);
  --color-border-strong: hsl(212, 18%, 69%);

  --color-bg-page: hsl(0, 0%, 98%);
  --color-bg-surface: hsl(0, 0%, 100%);
  /* =========================
      Spacing
========================== */

  --space-xs: clamp(4px, 0.4vw, 6px);
  --space-sm: clamp(8px, 0.8vw, 12px);
  --space-md: clamp(16px, 1.5vw, 20px);
  --space-lg: clamp(24px, 2vw, 32px);
  --space-xl: clamp(32px, 3vw, 48px);
  --button-outline-padding: 1.1rem 1.8rem;
  --button-outline-radius: 15px;

  /* =========================
     TYPOGRAFIE
  ========================== */

  --font-body: "Archivo", sans-serif;
  --font-heading: "ClashDisplay", sans-serif;

  --heading-font-weight: 600;
  --button-font-weight: 400;
  --text-font-weight: 300;
  --h1-size: clamp(1.875rem, 1.602rem + 1.1494vw, 2.5rem);
  --h1-line-height: 1.2;
  --h1-max-width: 60ch;
  --h2-size: clamp(1.5625rem, 1.3714rem + 0.8046vw, 2rem);
  --h2-line-height: 1.3;
  --h2-max-width: 65ch;
  --h3-size: clamp(1.375rem, 1.2658rem + 0.4598vw, 1.625rem);
  --h3-line-height: 1.3;
  --h3-max-width: 65ch;
  --p-s-size: 17px;
  --p-s-line-height: 1.8;
  --p-s-max-width: 70ch;
}

body {
  background-color: var(--color-bg-page);
  margin: 0;
}

.page-wrapper {
  padding: var(--space-s);
  margin: var(--space-sm);
}
* {
  scroll-behavior: smooth;
}
h1 {
  line-height: var(--h1-line-height);
  font-size: var(--h1-size);
  max-width: var(--h1-max-width);
}

h2 {
  line-height: var(--h2-line-height);
  font-size: var(--h2-size);
  max-width: var(--h2-max-width);
}

h3 {
  line-height: var(--h3-line-height);
  font-size: var(--h3-size);
  max-width: var(--h3-max-width);
}

p {
  line-height: var(--p-s-line-height);
  font-size: var(--p-s-size);
  max-width: var(--p-s-max-width);
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
  text-wrap: balance;
}

p,
li,
ul,
a {
  font-family: var(--font-body);
  font-weight: var(--text-font-weight);
}

header a {
  text-decoration: none;
  color: var(--color-text);
  border-bottom: 1px solid;
}

.astyle {
  text-decoration: none;
  padding: var(--button-outline-padding);
  color: var(--color-accent);
  outline: 1px solid var(--color-accent);
  border-radius: var(--button-outline-radius);
  cursor: pointer;
  width: fit-content;
}

/* einde stylesheet */

.first-header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-end;
}

.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.verdeling {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.overons {
  background-color: var(--color-bg-page);
}

.ad-dag {
  background-color: var(--color-accent);
  color: var(--color-bg-page);
}

.banner img {
  border-radius: 1em 1em 0 0;
  height: 20em;
  width: 100%;
  object-fit: cover;
}
.divider {
  text-align: center;
}

.card {
  outline: 1px solid black;
  border-radius: 1em;
  padding: 0.7em;
}

.card img {
  width: 100%;
  border-radius: 0.5em;
  object-fit: cover;
}

.cardinfo {
  padding: 1em;
}

.kaarten {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

